.gridItem {
  height: 200px;
}
.gridItem img {
  border-radius: 5px;
}
.imageLayer {
  height: 200px;
}
.imageLayer img {
  border-radius: 5px;
}

@media (min-width: 576px) {
  .imageLayer {
    height: 300px;
  }
  .gridItem {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .imageLayer {
    height: 450px;
  }
  .gridItem {
    height: 200px;
  }
}
